body {
    margin: 0px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

body.lock{
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

* ,
* :before,
* :after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
} 

p {
    margin: 0 0 10px;
}
/* Header */ 
.header {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: centers;
}

.header__heading {
    color: #f1cdb3;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*nav*/

.nav {
    padding: 17px 0;
    display: flex;
}

.nav__link {
    margin-left: 40px;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    opacity: .75;
    transition: opacity .2s linear;
    border-bottom: 3px solid rgba(241, 205, 179, .0);
    border-radius: 1px;
    padding: 8px;
}

.nav__link:first-child {
    margin: 0px;
}

.nav__link:hover {
    opacity: 1;
}

.nav__link:focus {
    opacity: 1;
    border-bottom: 3px solid rgba(241, 205, 179, 1);
}

/*Intro*/

.intro {
    height: 925px;
    background: url(../img/Header/Dog.jpg) center 
    no-repeat;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__inner {
    width: 100%;
    max-width: 450px;
}

.intro__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.intro__subtiltel {
    margin: 45px 0;
}

/*Button*/

.btn {
    vertical-align: top;
    display: inline-block;
    font-size: 17px;
    font-family: inherit;
    border: 0;
    border-radius: 30px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    transition: background .2s linear;
}

.btn--beige {
    background-color: #fddcc4;
    padding: 20px 50px;
}
.btn--whi:active {
    background-color: #fddcc4;
}

.btn--whi {
    padding: 18px 45px;
    background-color: transparent;
    border: 2px solid #fddcc4;
    border-radius: 50px;
}
.btn:active, .btn:focus {
    outline: none;
}
.btn--beige:hover {
    background-color: #f8cbaa;
}

/*Info*/

.info__heading {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.info__inner {
    width: 100%;
    max-width: 830px;
    height: 590px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.info__titel * {
    color: #4c4c4c;
}

/*Ofers*/

.ofers {
    padding: 115px 0;
    color: #545454;
    background-color: #f6f6f6;
    width: 100%;
    font-size: 35px;
    text-align: center;
}

.ofers__item {
    height: 420px;
    width: 270px;
    text-align: center;
    background-color: #fafafa;
    margin: 70px 25px;
    border-radius: 3px;
}

/*Popup*/

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 101;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.popup.open {
    opacity: 1;
    visibility: visible;

}

.popup.open .popup__content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.popup__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.popup__content {
    background-color: #fafafa;
    color: #4c4c4c;
    max-width: 970px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
}

.popup__img  img{
    float: left;
    width: 470px;
    height: 470px;
    padding-right: 58px;
}

.popup__content ul {
    margin: 35px 0;
}

.popup__content li {
    color: #f1cdb3;
    padding: 15px 0 0 0;
    list-style-position: inside;
}

.popup__content li span {
    color: #545454;
    font-size: 17px;
}

.popup__title {
    font-size: 35px;
    margin: 70px 0 20px 0;
}

.popup__subtitle {
    font-size: 20px;
    margin-bottom: 33px;
}

.popup__close {
    position: absolute;
    right: -50px;
    top: -50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fddcc4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__close:hover {
    background-color: #fddcc4;
    cursor: pointer;
}

.popup__close img {
    width: auto;
    height: auto;
}

/*Help*/

.help {
    width: 100%;
}

.help__title {
    max-width: 370px;
    height: 200px;
    font-size: 35px;
    color: #545454;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.help__sub-icons {
    padding: 0 70px;
    display: flex;
}

.help__sup-icons {
    display: flex;
    padding: 75px 100px;
}

.help__icons {
    text-align: center;
    width: 25%;
    height: 100%;
}

.help__icons .icon__text {
    color: #545454;
    font-size: 20px;
    padding-top: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Donations*/

.donations {
    width: 100%;
    height: 435px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.donations__inner {
    width: 970px;
    padding-top: 70px;
}

.donations__img {
    float: left;
    width: 570px;
    height: 435px;
    margin-right: 15px;
}


.donations__title {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #545454;
    padding-bottom: 35px;
}

.donations__bank {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #545454;
    padding-bottom: 15px;
}

.donations__card{
    display: flex;
    align-items: center;
    max-width: 315px;
    margin-bottom: 30px;
    background-color: #f1cdb3;
    cursor: pointer;
    border-radius: 10px;
}

.donations__card .card__number {
    font-size: 20px;
    color: #292929;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
}


.donations__card img {
    padding-left: 15px;
}

.donations__text {
    color: #b2b2b2;
    font-size: 12px;
}


/*Footer*/

.footer {
    width: 100%;
    background: url(../img/Footer/Слой\ 3.jpg) center 
    no-repeat;
    height: 360px;
}

.footer__inner {
    max-width: 1170px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

.footer__contacts {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.footer__address {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.footer__img {
    width: 30%;
}

.footer__contacts-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    padding-top: 80px;
}

.footer__address-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    padding-top: 80px;
}

.footer__contacts-mail {
    padding-top: 50px;
    display: flex;
    align-items: center;
}

.footer__first-address  {
    padding-top: 45px;
    display: flex;
    align-items: center;
}

.footer__contacts-mail .mail {
    padding-left: 20px;
    color: #f1cdb3;
    cursor: pointer;
    font-size: 20px;
} 

.footer__first-address .address {
    padding-left: 20px;
    color: #f1cdb3;
    font-size: 20px;
}

.footer__contacts-phone {
    padding-top: 35px;
    display: flex;
    align-items: center;
    color: #f1cdb3;
    font-size: 20px;
}

.footer__second-address {
    padding-top: 30px;
    display: flex;
    align-items: center;
    color: #f1cdb3;
    font-size: 20px;
}

.footer__contacts-phone .phone {
    padding-left: 20px;
}

.footer__second-address .address {
    padding-left: 20px;
}
